/* src/components/Row/Row.css */
.row {
  margin: 2rem;
}

.row h2 {
  color: #e5e5e5;
}

.row-container {
  display: flex;
  align-items: center;
  position: relative;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  max-height: 300px;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.row-poster:hover {
  transform: scale(1.1);
}

.row-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row-poster-vertical {
  margin-bottom: 1rem;
}

.row-poster-vertical:hover {
  transform: scale(1.1);
}

.arrow {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 10px; /* Ajuste a posição da seta esquerda */
}

.arrow.right {
  right: 10px; /* Ajuste a posição da seta direita */
}