/* src/components/Navbar/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Fundo transparente inicialmente */
  color: #fff;
  display: flex;
  justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* Mantém o fundo atual quando rolado */
}

.logo {
  height: 3rem;
  cursor: pointer;
}

.search-logout-container {
  display: flex; /* Usar flexbox para alinhar a barra de pesquisa e o botão de logout */
  align-items: center; /* Alinha verticalmente os itens no centro */
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Espaço entre a barra de pesquisa e o botão de logout */
}

.navbar input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  padding: 0.5rem;
  margin-right: 1rem;
}

.navbar input:focus {
  outline: none;
}

.search-button {
  background: none; /* Remove o fundo */
  border: none; /* Remove a borda */
  color: #e5e5e5; /* Cor do ícone */
  cursor: pointer; /* Muda o cursor para pointer */
  padding: 0; /* Remove o padding */
  margin: 0; /* Remove a margem */
  font-size: 1.2rem; /* Tamanho do ícone */
}

.search-button:hover {
  opacity: 0.8; /* Efeito de hover opcional */
}

/* src/components/Navbar/Navbar.css */
.logout-button {
  background-color: transparent; /* Fundo transparente */
  color: white; /* Cor do ícone */
  border: none; /* Remove a borda */
  cursor: pointer; /* Muda o cursor para pointer */
  padding: 0.5rem; /* Adiciona espaço interno */
  font-size: 1.5rem; /* Tamanho do ícone */
  transition: color 0.3s ease; /* Transição suave para a mudança de cor */
  border-radius: 50%; /* Deixa o botão redondo */
  width: 2.5rem; /* Define a largura do botão */
  height: 2.5rem; /* Define a altura do botão */
  display: flex; /* Usa flexbox para centralizar o ícone */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.logout-button:hover {
  color: #e50914; /* Muda a cor ao passar o mouse */
  background-color: rgba(255, 255, 255, 0.2); /* Adiciona um fundo ao passar o mouse */
}